<div class="card overflow-hidden position-relative">
    <div class="row g-0">
        <div class="col-2 position-relative">
            <a href="{{ path('app_workout_show', {id:workout.id,slug:workout.slug }) }}" class="text-reset text-decoration-none">
                <img src="{{ workout.picture }}" class="card-img object-fit-cover h-100 position-absolute top-50 start-50 translate-middle" alt="image du programme {{ workout.title }}">
            </a>
        </div>
        <div class="col-lg-3 col-10">
            <div class="card-body d-flex flex-column justify-content-between" style="height: 100%">
                <div class="">
                    <h5 class="card-title fw-bold">{{ workout.workoutcategory.label }}</h5>
                    <h6 class="mt-3">{{ workout.title }}</h6>
                    <h6 class="mt-3">
                        {% if workout.user is null %}
                        <i class="bi bi-person-circle"></i> Un coach
                        {% else %}
                        <i class="bi bi-person-circle"></i> {{ workout.user.pseudo }}
                        {% endif %}
                    </h6>
                    <h6 class="mt-3"><i class="fa-regular fa-clock"></i> {{ workout.duration }} min</h6>
                    <h6 class="mt-3"><i class="fa-solid fa-dumbbell me-1"></i>{{ workout.workoutParameters | length }} exercices</h6>
                </div>
            </div>
        </div>
        <div class="col-7 my-auto pt-2 d-none d-lg-block">
            <div class="ms-1 d-flex flex-wrap justify-content-start">
                {% for exercice in workout.workoutParameters %}
                    <a href="{{ path('app_exercice_show', {id:exercice.exercice.id,slug:exercice.exercice.slug }) }}">
                        <div class="overflow-hidden mx-3 rounded shadow mb-3 position-relative" style="width: 100px; height: 80px;">
                            <img src="{{ exercice.exercice.picture }}" alt="" class="object-fit-cover w-100 h-100 position-absolute top-50 start-50 translate-middle" style="max-height: 595px;" data-bs-toggle="tooltip" data-bs-title="{{ exercice.exercice.title }}">
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <a class="text-reset" href="{{ path('app_workout_show', {id:workout.id,slug:workout.slug }) }}"><i class="fa-solid fa-up-right-from-square position-absolute bottom-0 end-0 me-1 mb-1"></i></a>
</div>