{% extends 'front/base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ user.presentation }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>
                    {% if user.picture %}
                        <img src="{{ user.picture }}" alt="{{ user.firstname ~ ' ' ~ user.lastname }}" width="800" height="400">
                    {% else %}
                        No picture available
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
